.branding{
    display: flex;
    align-items: center;
    border-radius: 15px; 
    margin-bottom: 1px; 
}
.branding img {
    max-width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 200px;
    box-shadow: 5px 4px 10px;
}
.texto_branding{
    color: black;
    text-align: center;
    font-size: large;
}
.titulo_branding{
    margin-top: 20px;
    margin-bottom: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.cards_branding{
    background-color: #F5EDE3;
    padding: 20px;
    margin: 15px;
    text-align: center;
    border-radius: 15px;
}

#foto_bella{
    width: 400px;
    height: 200px;
    border-radius: 200px;
    
}

#img_coelho{
    width: 100px;
}

.formulario_agenda{
    display: flex;
    justify-content: center;

}

body { font-family: sans-serif; padding: 20px; }
form { display: flex; flex-direction: column; width: 300px; gap: 10px; margin-bottom: 30px; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { padding: 10px; text-align: left; border: 1px solid #ddd; }
th { background-color: #f4f4f4; }




