body{
   font-family: Arial;
   text-align: center;
   background-color: #f5f5f5;
}

#container{
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
}

.card{
   width: 15px;
   height: 15px;
   cursor: pointer;
   
}

.front, .back{
   width: 100px;
   height: 100px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 10px;
   color: white;
   font-weight: bold;

   transition: transform 0.6s;
   backface-visibility: hidden;
}

.front{
   background: #d48bb5;
}

.renanfrodo{
   padding: 15px;
   width: 400px;
   height: 500px;
   border-radius: 50%;
}
